<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-BATT.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename FBST</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>RkJTVAQ=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WEJTVAQ=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename CBST</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>Q0JTVAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WEJTMgA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename _BIX</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X0JJWAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WEJJWAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIF0</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGMAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGMAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIF1</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGMQA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGMQA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIF2</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGMgA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGMgA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIF3</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGMwA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGMwA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIF4</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGNAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGNAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BIFA</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QklGQQA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WElGQQA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BSTS</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QlNUUwCg</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WFNUUwCg</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename TACH</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>VEFDSAk=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WEFDSAk=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BCRT</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QkNSVAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WENSVAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BRCP</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QlJDUAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WFJDUAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename BVOT</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>QlZPVAA=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WFZPVAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename SMBR</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>U01CUgs=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WE1CUgs=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename SMBW</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>U01CVw0=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WE1CVw0=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-BATT: Rename ECSB</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>RUNTQgc=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>WENTQgc=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
